.marquee {
    margin: 2rem 0;
    font-size: 8vw;
    overflow: hidden;
 }
 
 .marquee--long { 
    font-size: 1.25vw; 
 }
 
 .marquee .wrapper { 
     animation: marquee var(--ad) linear infinite;
     animation-play-state: running;
 }
 
 @keyframes marquee {
     0% { transform: translateX(0); }
     100% { transform: translateX(-100%); }
 }
 
 /*  
  * on MacOs: System Preferences > 
  *           Accessibility > 
  *           Display > Reduce motion
  */
 
 @media (prefers-reduced-motion: reduce) {
   .marquee span {
     animation: none;
     text-shadow: none;
     width: auto;
     display: block;
     line-height: 1.5;
     text-align: center;
     white-space: normal;
   }
 }
 
